:root {
  --base-dark: #323232;
  --base-light: #FFFFFF;

  --gray-light: #f3f3f3;
  --gray-dark: #cccccc;

  --brand-dark: #377abe;
  --brand-light: #d3e0e5;

  --error-color: tomato;
  --info-color: #377abe;
  --warning-color: rgb(212, 227, 122);

  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 25px;

  // Z index
  --context-menu-z-index: 1;
}