.custom-tooltip {
  padding: 10px;
  background: #fff;
  border: 1px solid var(--brand-dark);
  filter: brightness(1.1);

  &__label {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
  }

  &__data-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
  }

  &__data-item {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    &-name {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  &__data-item-prefix {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}