.button {
  appearance: none;
  border: none;
  background: transparent;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &_loading {

  }

  &_action {
    padding: 10px 15px;
    border-radius: 10px;
    background: var(--gray-light);
    border: 1px solid var(--gray-dark);
    cursor: pointer;

    &:hover,
    &:focus {
      filter: brightness(1.1);
      background: var(--brand-light);
      border: 1px solid var(--brand-dark);
    }



    &:disabled {
      background: var(--gray-dark);
      cursor: no-drop;
    }
  }

}