.input {
  display: flex;
  flex-direction: column;

  &__label {
    font-weight: 500;
    margin-bottom: 7px;
  }

  &__control {
    border: 1px solid var(--gray-dark);
    border-radius: 5px;
    padding: 5px 10px;

    &:focus, &:hover {
      border: 1px solid var(--brand-dark);
      outline: none;
    }
  }
}