.account {
  padding: 20px;

  &__title {
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
  }

  &__card {
    padding: 20px;
    border: 2px solid #d4d4d4;
    max-width: 400px;
  }

  &__name {
    margin: 0;
    margin-bottom: 10px;
  }

  &__descriptions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__description {
    display: flex;
  }

  &__description-property {
    font-weight: 600;
    width: 130px;
  }

  &__actions {
    display: flex;
    gap: 10px;
  }
}