.table {
  display: table;
  border-collapse: collapse;
  height: 100%;

  &__container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__head &__property {
    user-select: none;
    border: 1px solid var(--gray-dark);

    cursor: pointer;
    transition: .5s ease;

    &:hover {
      filter: brightness(1.1);
      background: var(--brand-light);
    }
  }

  &__property {
    padding: 7px;
    border: 1px solid var(--gray-dark);

    &_number {
      text-align: right;
    }
  }

  &__property_number &__container {
    justify-content: flex-end;
  }

  &__group {
    background: var(--gray-light);
  }
}